.check-container {
  border: #513B56 solid 3px;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
  &--checked {
    background-image: url('../images/done.png');
    background-size: 16px 16px;
    background-position: center;
    background-color: #9ace9a;
  }
}


