@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  all: unset;
  display: revert;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  //background-color: #F7E9DE;
}

.app-container {
  margin: 100px auto 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  max-width: 1080px;
}

.container {
  display: flex;
  flex-direction: column;
  //margin: 0 auto;
  //padding: 0 20px;
  width: 1040px;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 44px;
  padding: 20px 0;
}